.container {
    width: 100%;
    min-height: 100vh;
}

.mainImage {
    width: 100% ;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.mainContainer {
    width: 60%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    gap: 36 px;
}

.tagContainer {
    width: 100%;
    gap: 8px;
}